# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
less

# SilverStripe files
/vendor
/resources
/.env

# Require-dev recipe/cms
/app
/.htaccess
/index.php
/install.php
/install-frameworkmissing.html
/web.config

# Test artifacts
/build/logs
